.form-feild {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin: 10px 0;
    width: 100%;
}

.wrap h3 {
    text-align: center;
    margin: 0;
    font-size: 1.8rem;
    background-image: linear-gradient(to right, #E91E63, #00BCD4, #2196F3, #E91E63, #0FE1E6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

form {
    height: 268px;
    background: linear-gradient(90deg, #00f2ff50 0%, #3a47d550 100%);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #111;
    border-radius: 7px;
}

.wrap {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
   
}

.form-feild input {
    height: 14px;
    color: #111;
    width: 100%;
    font-size: 14px;
    padding: 0.7rem;
    border: none;
    border-radius: 0.25rem;
    outline: 0;
}

.flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
    width: 100%;
}

.gap-12 {
    gap: 12px;
}

.form-feild input:focus,
.form-feild input:focus-visible {
    outline: 0;
}

.form-feild label {
    color: #111;
    white-space: nowrap;
}

.form-feild input::placeholder {
    font-size: 14px;
    color: #111;
}
button{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    cursor: grab;
    color: #fff;
}
/* 3d button */

.btn3d {
	position: relative;
	top: -6px;
	border: 0;
	transition: all 40ms linear;
	margin-top: 10px;             
	margin-bottom: 10px;
	/* margin-left: 20px; */
	margin-right: 20px;
}

.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
	-moz-outline-style: none;
	outline: medium none;
}

.btn3d:active,
.btn3d.active {
	top: 2px;
}
.mt-10{
    margin-top: 10px;
}
.btn3d.btn-success {
	box-shadow: 0 0 0 1px #31c300 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #5eb924, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #78d739;
}

.btn3d.btn-success:active,
.btn3d.btn-success.active {
	box-shadow: 0 0 0 1px #30cd00 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #78d739;
}

.btn3d.btn-info {
	box-shadow: 0 0 0 1px #00a5c3 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #348FD2, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #39B3D7;
}

.btn3d.btn-info:active,
.btn3d.btn-info.active {
	box-shadow: 0 0 0 1px #00a5c3 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #39B3D7;
}



.btn3d.btn-warning {
	box-shadow: 0 0 0 1px #d79a47 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #D79A34, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #FEAF20;
}

.btn3d.btn-warning:active,
.btn3d.btn-warning.active {
	box-shadow: 0 0 0 1px #d79a47 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #FEAF20;
}

.btn3d.btn-danger {
	box-shadow: 0 0 0 1px #b93802 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #AA0000, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #D73814;
}

.btn3d.btn-danger:active,
.btn3d.btn-danger.active {
	box-shadow: 0 0 0 1px #b93802 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #D73814;
}



          